.main {
  background-color: #9966FF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__photo {
  margin-top: 10px;
  width: 370px;
  height: 550px;
  border: tomato 1px solid;
}
.title {
    /* border: 2px solid black; */
    text-align: center;
}
.title__name {
margin: 7px;

font-size: 50px;
font-weight: 300;

}

.title__prof {
    font-size: 70px;
    padding: 5px;
    font-weight: 300;
}
