.about__title {
    margin: 30px;
    font-size: 60px;
    font-weight:300;
}
.about__text {
    margin-left: 100px;
    padding: 25px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    width: 500px;
    height: 200px;

}
.about__text p{
    margin: 0 auto;

}
.about__hobby {
}
.about__hobby__title{
    font-size: 40px;
    font-weight: 300;
}
.about__hobby__list{

}